---
import Icon from "@components/Icon.astro";

import * as i18n from "@i18n";

const locale = i18n.getLocaleFromUrl(Astro.url);
const t = i18n.getTranslations(locale);
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>{t.home.skills.codingEnthusiast.heading}</h2>
    <p>{t.home.skills.codingEnthusiast.description}</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="trophy"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>{t.home.skills.hardWorker.heading}</h2>
    <p>{t.home.skills.hardWorker.description}</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="users-three"
      color="var(--md-sys-color-primary)"
      size="2.5rem"
      gradient
    />
    <h2>{t.home.skills.teamPlayer.heading}</h2>
    <p>{t.home.skills.teamPlayer.description}</p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--outline-color);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--surface-container-color);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--md-sys-color-on-surface-variant);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }

    .skills p {
      font-size: var(--text-md);
    }
  }

  @media (min-width: 60em) {
    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }
  }
</style>
